{% extends "includes/layout.html" %}
{% block title %}Pods Concept - Dashboard{% endblock %}

{% block css %}
    <!-- Entry checks -->
	<script src="/uadsshAFSVAasb/monitoringTool/js/entryChecks.js"></script>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Management Tool</h3>
                <strong>MT</strong>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="">
                        <i class="fas fa-sync-alt"></i>
                        Refresh
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-briefcase"></i>
                        About
                    </a>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-copy"></i>
                        Key Links
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a id="keyLocations">Locations</a>
                        </li>
                        <li>
                            <a id="keyDevices">Devices</a>
                        </li>
                        <li>
                            <a id="keyClusters">Clusters</a>
                        </li>
                        <li>
                            <a id="keyContents">Contents</a>
                        </li>
                        <li>
                            <a id="keyClients">Clients</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="navMonitoringTool">
                        <i class="fa fa-clipboard-list"></i>
                        Management Tool
                    </a>
                </li>
				<!--
                <li>
                    <a href="#">
                        <i class="fas fa-question"></i>
                        FAQ
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-paper-plane"></i>
                        Contact
                    </a>
                </li>
				-->
				<li>
                    <a href="" id="logout" class="article text-center">
                        <i class="fas fa-sign-out-alt"></i>
                        Log Out
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info" >
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button id="navbarSupportedContentToggle" class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" id="navClientSetup">Client's Setup</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="navContentSetup">Content's Setup</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="navChangeRequest">Change Request</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="navOther"><b><i>....</i></b></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

			<div class="container-fluid">
				<h2>About Management Tool</h2>
				<p>About information about the Management tool.</p>
				<p>more info</p>
			</div>

			<!-- Setups and Configurations button and div  -->
			<div class="container-fluid">
				<div class="line"></div>
                <p>
					<ul class="nav nav-tabs" id="podsTab" role="tablist">
                    <!-- Setups and Configurations tab -->
					  <li class="nav-item rounded pods-tab pods-cusor">
						<a class="nav-link" id="setupAndConfigTab" data-toggle="tab" role="tab" data-target="#setupCollapse" aria-expanded="false" aria-controls="setupCollapse"><h3>Setups and Configurations</h3></a>
						<!--<a class="nav-link active" id="setupAndConfigTab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Setups and Configurations</a>-->
					  </li>
                    <!-- Management Tool tab -->
					  <li class="nav-item rounded pods-tab pods-cusor">
						<a class="nav-link" id="monitoringToolTab" data-toggle="tab" role="tab" data-target="#monitoringToolCollapse" aria-expanded="false" aria-controls="monitoringToolCollapse"><h3>Management Tool</h3></a>
					  </li>
					</ul>
				</p>

				<!-- Container for Setup and Management tools  -->
				<div id="setupsAndToolsContainer" class="container-fluid">

					<!-- Setups and Configurations div  -->
					<div class="collapse" id="setupCollapse">

						<!-- Location Setup button and div  -->
						<div class="container-fluid">
							<p>
								<button id="locationSetupButton" class="btn pods-toggle-button-2 btn-lg btn-block" type="button" data-toggle="collapse" data-target="#locationSetupCollapse" aria-expanded="false" aria-controls="locationSetupCollapse"><b>Location Setup</b></button>
							</p>
							<div id="locationSetupCollapse" class="collapse">

								<!-- 1 - Create Country button and div  -->
								<div class="container-fluid">
									<p>
										<button id="createCountryButton" class="btn pods-toggle-button-3" type="button" data-toggle="collapse" data-target="#createCountryCollapse" aria-expanded="false" aria-controls="createCountryCollapse"> Create Country </button>
									</p>
									<div id="createCountryCollapse" class="collapse">
										<!-- Create Country form -->
										<div class="container-fluid">
											<p>
												<form action="/setup_post/" method="POST">
													{% csrf_token %}													
													  <div class="row">
														  <div class="col">
															<input id="countryInput" class="form-control" type="text" placeholder="Country" required>
														  </div>
														  <div class="col">
															<input id="continentInput" class="form-control" type="text" placeholder="Continent" required>
														  </div>
														  <button id="podsCreateCountry" type="submit" class="btn pods-toggle-button-1">Submit</button>
													  </div>
												</form>
											</p>
										</div>
									</div>
								</div>

								<!-- 2 - Create City button and div  -->
								<div class="container-fluid">
									<p>
										<button id="createCityButton" class="btn pods-toggle-button-3" type="button" data-toggle="collapse" data-target="#createCityCollapse" aria-expanded="false" aria-controls="createCityCollapse"> Create City </button>
									</p>
									<div id="createCityCollapse" class="collapse">
										<!-- Create City form -->
										<div class="container-fluid">
											<p>
												<form id="createCityForm" action="/setup_post/" method="POST">
													{% csrf_token %}
													  <div class="row">
														  <div class="col" id="countriesListCityInputDiv">
														  <!-- AJAX Countries auto-populated list -->
														  <select id="countryOfCityInput" class="selectpicker form-control" data-live-search="true" required>
														  </select>
														  </div>
														  <div class="col">
															<input id="cityNameInput" class="form-control" type="text" placeholder="City's Name" required>
														  </div>
														  <button id="podsCreateCity" type="submit" class="btn pods-toggle-button-1">Submit</button>
													  </div>
												</form>
											</p>
										</div>
									</div>
								</div>

								<!-- 3 - Create Area button and div  -->
								<div class="container-fluid">
									<p>
										<button id="createAreaButton" class="btn pods-toggle-button-3" type="button" data-toggle="collapse" data-target="#createAreaCollapse" aria-expanded="false" aria-controls="createAreaCollapse"> Create Area </button>
									</p>
									<div id="createAreaCollapse" class="collapse">
										<!-- Create Area form -->
										<div class="container-fluid">
											<p>
												<form action="/setup_post/" method="POST">
													{% csrf_token %}
													  <div class="row">
														  <div class="col" id="cityListAreaInputDiv">
															<!-- AJAX Cities auto-populated list -->
															<select id="cityOfAreaInput" class="selectpicker form-control" data-live-search="true" required>
														  </select>
														  </div>
														  <div class="col">
															<input id="areaNameInput" class="form-control" type="text" placeholder="Area's Name" required>
														  </div>
														  <button id="podsCreateArea" type="submit" class="btn pods-toggle-button-1">Submit</button>
													  </div>
												</form>
											</p>
										</div>
									</div>
								</div>
							</div>

						</div>

						<!-- Device Setup and Configuration button and div  -->
						<div class="container-fluid">
							<p>
								<button id="deviceSetupButton" class="btn pods-toggle-button-2 btn-lg btn-block" type="button" data-toggle="collapse" data-target="#deviceSetupCollapse" aria-expanded="false" aria-controls="deviceSetupCollapse"><b>Device Setup and Configuration Setup</b></button>
							</p>
							<div id="deviceSetupCollapse" class="collapse">

								<!-- 1 - Create Device button and div  -->
								<div class="container-fluid">
									<p>
										<button id="createDeviceButton" class="btn pods-toggle-button-3" type="button" data-toggle="collapse" data-target="#createDeviceCollapse" aria-expanded="false" aria-controls="createDeviceCollapse"> Create Device </button>
									</p>
									<div id="createDeviceCollapse" class="collapse">
										<!-- Create Device form -->
										<div class="container-fluid">
											<p>
												<form action="/setup_post/" method="POST">
													{% csrf_token %}
													  <div class="row">
														  <div class="col">
															<input id="deviceMacAddressInput" class="form-control" type="text" placeholder="Device MAC Address" Required>
														  </div>
														  <div class="col">
															<select id="deviceStatusInput" class="selectpicker form-control" data-live-search="true">
																<option selected value="NO DATA">Choose a Status</option>
																<option value="UNUSED">UNUSED</option>
																<option value="ACTIVE">ACTIVE</option>
																<option value="IN-REPAIR">IN-REPAIR</option>
																<option value="DEACTIVATED">DEACTIVATED</option>
															</select>
														  </div>
														  <button id="podsCreateDevice" type="submit" class="btn pods-toggle-button-1">Submit</button>
													  </div>
												</form>
											</p>
										</div>
									</div>
								</div>

								<!-- 2 - Create Device Configuration button and div  -->
								<div class="container-fluid">
									<p>
										<button id="createDeviceConfigButton" class="btn pods-toggle-button-3" type="button" data-toggle="collapse" data-target="#createDeviceConfigCollapse" aria-expanded="false" aria-controls="createDeviceConfigCollapse"> Create Device Configuration </button>
									</p>
									<div id="createDeviceConfigCollapse" class="collapse">
										<!-- Create Device Configuration form -->
										<div class="container-fluid">
											<p>
												<form action="/setup_post/" method="POST">
													{% csrf_token %}
													 <div class="form-group row">
														 <div class="col" id="deviceListDeviceConfigInputDiv">
															<!-- AJAX Devices auto-populated list -->
															<select id="deviceOfDeviceConfigInput" class="selectpicker form-control" data-live-search="true" required></select>
														  </div>
														  <div class="col">
															<input id="deviceManufacturedYearInput" class="form-control" type="text" placeholder="Date (YYYY-MM-DD)">
														  </div>
													</div>
													<div class="form-group row">
														<div class="col">
															<input id="deviceExtraInfoInput" class="form-control" type="text" placeholder="Extra Information">
														</div>
														<button id="podsCreateDeviceConfig" type="submit" class="btn pods-toggle-button-1">Submit</button>
													</div>
												</form>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Cluster and Configuration Setup button and div  -->
						<div class="container-fluid">
							<p>
								<button id="clusterSetupButton" class="btn pods-toggle-button-2 btn-lg btn-block" type="button" data-toggle="collapse" data-target="#clusterSetupCollapse" aria-expanded="false" aria-controls="clusterSetupCollapse"><b>Clusters Configuration and Setup</b></button>
							</p>
							<div id="clusterSetupCollapse" class="collapse">

								<!-- 1 - Create Cluster Type button and div  -->
								<div class="container-fluid">
									<p>
										<button id="createClusterTypeButton" class="btn pods-toggle-button-3" type="button" data-toggle="collapse" data-target="#createClusterTypeCollapse" aria-expanded="false" aria-controls="createClusterTypeCollapse">Create Cluster Type</button>
									</p>
									<div id="createClusterTypeCollapse" class="collapse">
										<!-- Create Cluster Type Configuration form -->
										<div class="container-fluid">
											<p>
												<form action="/setup_post/" method="POST">
													{% csrf_token %}
													 <div class="row">
														<div class="col">
															<input id="clusterTypeInput" class="form-control" type="text" placeholder="Cluster Type">
														</div>
														<button id="podsCreateClusterType" type="submit" class="btn pods-toggle-button-1">Submit</button>
													</div>
												</form>
											</p>
										</div>
									</div>
								</div>

								<!-- 2 - Create Clusters Setup button and div  -->
								<div class="container-fluid">
									<p>
										<button id="createClusterButton" class="btn pods-toggle-button-3" type="button" data-toggle="collapse" data-target="#createClusterSetupCollapse" aria-expanded="false" aria-controls="createClusterSetupCollapse">Create Cluster Setup</button>
									</p>
									<div id="createClusterSetupCollapse" class="collapse">
										<!-- Create Cluster Setup Configuration form -->
										<div class="container-fluid">
											<p>
												<form action="/setup_post/" method="POST">
													{% csrf_token %}
													<div class="form-group row">
														<div class="col" id="areaListClusterInputDiv">
															<!-- AJAX Area auto-populated list -->
															<select id="clusterSetupOfAreaInput" class="selectpicker form-control" data-live-search="true" required>
															</select>
														</div>
														<div class="col" id="clusterTypeListClusterSetupInputDiv">
															<!-- AJAX Cluster Types auto-populated list -->
															<select id="clusterTypeOfClusterSetupInput" class="selectpicker form-control" data-live-search="true" required>
															</select>
														</div>
													</div>
													<div class="form-group row">
														<div class="col">
															<input id="clusterExposureInput" class="form-control" type="text" placeholder="Cluster's Exposure">
														</div>
														<div class="col">															
															<select id="clusterStatusInput" class="selectpicker form-control" data-live-search="true" required>
																<option selected>Choose a Status</option>
																<option value="UNUSED">UNUSED</option>
																<option value="ACTIVE">ACTIVE</option>
																<option value="UNDER MAINTENANCE">UNDER MAINTENANCE</option>
																<option value="DEACTIVATED">DEACTIVATED</option>
															</select>
														</div>
													</div>
													<div class="form-group row">
														<div class="col">
															<input id="clusterLocationDetailInput" class="form-control" type="text" placeholder="Cluster's Location Detail">
														</div>
														<button id="podsCreateClusterSetup" type="submit" class="btn pods-toggle-button-1">Submit</button>
													</div>
												</form>
											</p>
										</div>
									</div>
								</div>

								<!-- 3 - Create Clusters Network Configuration button and div  -->
								<div class="container-fluid">
									<p>
										<button id="createClusterNetworkConfigButton" class="btn pods-toggle-button-3" type="button" data-toggle="collapse" data-target="#createClusterNetworkConfigCollapse" aria-expanded="false" aria-controls="createClusterNetworkConfigCollapse">Create Cluster Network Configuration</button>
									</p>
									<div id="createClusterNetworkConfigCollapse" class="collapse">
										<!-- Create Clusters Network Configuration form -->
										<div class="container-fluid">
											<p>
												<form action="/setup_post/" method="POST">
													{% csrf_token %}
													<div class="form-group row">
														<div class="col" id="clusterSetupListClusterNetConfigDiv">
															<!-- AJAX Cluster Setup auto-populated list -->
															<select id="clusterSetupOfClusterNetConfigInput" class="selectpicker form-control" data-live-search="true" required>
															</select>								
														</div>
													</div>
													<div class="form-group row">
														<div class="col">
															<input id="clusterNetworkProviderInput" class="form-control" type="text" placeholder="Cluster's Network Provider">
														</div>
													</div>
													<div class="form-group row">
														<div class="col">
															<input id="clusterNetworkPassInput" class="form-control" type="text" placeholder="Cluster's Network Password">
														</div>
														<button id="podsCreateClusterNetworkConfig" type="submit" class="btn pods-toggle-button-1">Submit</button>
													</div>
												</form>
											</p>
										</div>

									</div>
								</div>

								<!-- 4 - Create Clusters Weather Configuration button and div  --
								<div class="container-fluid">
									<p>
										<button id="createClusterWeatherConfigButton" class="btn pods-toggle-button-3" type="button" data-toggle="collapse" data-target="#createClusterWeatherConfigCollapse" aria-expanded="false" aria-controls="createClusterWeatherConfigCollapse">Create Cluster Weather Configuration (NOT RELEVANT FOR NOW)</button>
									</p>

									<div id="createClusterWeatherConfigCollapse" class="collapse">
										<!-- Create Clusters Weather Configuration form --
										<div class="container-fluid">
											<p>
												<form action="/setup_post/" method="POST">
													{% csrf_token %}
													<span><i>NOTE: This table gets weather forecast from third-party. Cluster JSON Data can be null.</i></span>
													<p>
														<div class="form-group row">
															<div class="col" id="clusterSetupListClusterWeatherConfigDiv">
																<!-- AJAX Cluster Setup auto-populated list --
																<select id="clusterSetupOfClusterWeatherConfigInput" class="selectpicker form-control" data-live-search="true" required>
																</select>					
															</div>
														</div>
														<div class="form-group row">
															<div class="col">
																<input id="clusterLatitudeInput" class="form-control" type="text" placeholder="Cluster's Latitude">
															</div>
															<div class="col">
																<input id="clusterLongitudeInput" class="form-control" type="text" placeholder="Cluster's Longitude">
															</div>
															<button type="submit" class="btn pods-toggle-button-1">Submit</button>
														</div>
													</p>
												</form>
											</p>
											<div class="line"></div>
											<p>
												<form>
													<span><b><i>Request and Update Cluster Weather forecast data</i></b></span><br><br>
													<p>
														<span>Cluster's JSON Data</span>
														<div class="form-group row">
															<div class="col">
																<input id="clusterWeatherJsonDatanput" class="form-control" type="text" readonly>
															</div>
														</div>
														<div class="form-group row">
															<button type="submit" class="btn pods-toggle-button-1">Get Cluster Weather Forecast</button>
														</div>
													</p>
												</form>
											</p>
										</div>
									</div>
								</div>	
								-->
							</div>
						</div>

						<!-- Contents, Contracts and Data Setup button and div  -->
						<div class="container-fluid">
							<p>
								<button id="contentSetupButton" class="btn pods-toggle-button-2 btn-lg btn-block" type="button" data-toggle="collapse" data-target="#ContentSetupCollapse" aria-expanded="false" aria-controls="ContentSetupCollapse"><b>Contents, Contracts and Data Setup</b></button>
							</p>
							<div id="ContentSetupCollapse" class="collapse">

								<!-- 1 - Create Content Types button and div  -->
								<div class="container-fluid">
									<p>
										<button id="createContentTypesButton" class="btn pods-toggle-button-3" type="button" data-toggle="collapse" data-target="#createContentTypesCollapse" aria-expanded="false" aria-controls="createContentTypesCollapse">Create Content Types</button>
									</p>
									<div id="createContentTypesCollapse" class="collapse">
										<!-- Create Content Types Configuration form -->
										<div class="container-fluid">
											<p>
												<form action="/setup_post/" method="POST">
													{% csrf_token %}
													 <div class="row">
														<div class="col">
															<input id="contentTypeInput" class="form-control" type="text" placeholder="Content Type">
														</div>
														<button id="podsCreateContentType" type="submit" class="btn pods-toggle-button-1">Submit</button>
													</div>
												</form>
											</p>
										</div>
									</div>
								</div>

								<!-- 2 - Create Contents Setup button and div  -->
								<div class="container-fluid">
									<p>
										<button id="createContentsSetupButton" class="btn pods-toggle-button-3" type="button" data-toggle="collapse" data-target="#createContentsSetupCollapse" aria-expanded="false" aria-controls="createContentsSetupCollapse">Create Contents Setup <i><b>(Upload Data and Contract file)</b></i></button>
									</p>
									<div id="createContentsSetupCollapse" class="collapse">
										<!-- Create Contents Setup Configuration form -->
										<div class="container-fluid">
											<p>
												<form  id="createContentSetupForm" action="/setup_post/" method="post" enctype="multipart/form-data">
													{% csrf_token %}
													<div class="form-group row">
														<div class="col" id="contentTypeListContentSetupDiv">
															<!-- AJAX Content Types auto-populated list -->
															<select id="contentTypeOfContentSetupInput" class="selectpicker form-control" data-live-search="true" required>
															</select>
														</div>
														<div class="col">
															<select id="isContentNewInput" class="selectpicker form-control" data-live-search="true">
																<option value="NO DATA" selected>Is content new?</option>
																<option value="YES">YES</option>
																<option value="NO">NO</option>
															</select>
														</div>
													</div>
													<div class="form-group row">
														<div class="col">
															<input id="contentTitleInput" class="form-control" type="text" placeholder="Unique Content Title">
														</div>
														<div class="col">
															<input id="contentContractFeeInput" class="form-control" type="text" placeholder="Required Fee">
														</div>					
													</div>
													<div class="form-group row">
														<div class="col">
															<input id="contentContractStartInput" class="form-control" type="text" placeholder="Start Date(YYYY-MM-DD)">
														</div>
														<div class="col">
															<input id="contentContractEndInput" class="form-control" type="text" placeholder="End Date(YYYY-MM-DD)">
														</div>
													</div>	
													<div class="form-group row">			
														<div class="col" id="clientProfileListContentSetupDiv">
															<!-- AJAX Client Profiles Types auto-populated list -->
															<select id="clientProfileOfContentSetupInput" class="selectpicker form-control" data-live-search="true" required>
															</select>
														</div>
													</div>
													<div class="form-group row">			
														<div class="col" id="employeeListContentSetupDiv">
															<!-- AJAX Employees auto-populated list -->
															<select id="employeeOfContentSetupInput" class="selectpicker form-control" data-live-search="true" required>
															</select>				
														</div>
													</div>
													<div class="form-group row">
														<div class="col">
															<label><b>Display Content Data</b></label>
															<input id="contentDataInput" name="contentDataInput" class="form-control-file" type="file">
														</div>
													</div>
													<div class="form-group row">
														<div class="col">
															<label><b>Contract File</b></label>
															<input id="contentContractDataInput" name="contentContractDataInput" class="form-control-file" type="file">
														</div>
													</div>			
													<div class="form-group row">
														<button id="podsCreateContentSetup" type="submit" class="btn pods-toggle-button-1">Submit</button>
													</div>
												</form>
											</p>
										</div>
									</div>
								</div>
								<!-- 5 - Create Active Clusters and Devices button and div  -->
								<div class="container-fluid">
									<p>
										<button id="createActiveClustersAndDevicesButton" class="btn pods-toggle-button-3" type="button" data-toggle="collapse" data-target="#createActiveClustersAndDevicesCollapse" aria-expanded="false" aria-controls="createActiveClustersAndDevicesCollapse">Map Active Clusters to Devices</button>
									</p>
									<div id="createActiveClustersAndDevicesCollapse" class="collapse">
									<!-- Create Active Clusters and Devices form -->
										<div class="container-fluid">
											<p>
												<form action="/setup_post/" method="POST">
													<div class="form-group row">
														<div class="col" id="clusterSetupListActiveCandDeviceDiv">
															<!-- AJAX Cluster Setup auto-populated list -->
															<select id="clusterSetupOfActiveCandDeviceInput" class="selectpicker form-control" data-live-search="true" required>
															</select>
														</div>	
													</div>
													<div class="form-group row">
														<div class="col" id="deviceListActiveCandDeviceDiv">
														<!-- AJAX Device auto-populated list -->
															<select id="deviceOfActiveCandDeviceInput" class="selectpicker form-control" data-live-search="true" required>
															</select>
														</div>	
														<button id="podsCreateActiveCAndDevice" type="submit" class="btn pods-toggle-button-1">Submit</button>
													</div>			
												</form>
											</p>
										</div>
									</div>
								</div>
								<!-- 6 - Create Active Clusters and Content button and div  -->
								<div class="container-fluid">
									<p>
										<button id="createActiveClustersAndContentsButton" class="btn pods-toggle-button-3" type="button" data-toggle="collapse" data-target="#createActiveClustersAndContentsCollapse" aria-expanded="false" aria-controls="createActiveClustersAndContentsCollapse">Map Active Clusters to Display Content Setups</button>
									</p>
									<div id="createActiveClustersAndContentsCollapse" class="collapse">
									<!-- Create Active Clusters and Content Setup form -->
										<div class="container-fluid">
											<p>
												<form action="/setup_post/" method="POST">
													<div class="form-group row">
														<div class="col" id="clusterSetupListActiveCandContentDiv">
															<!-- AJAX Cluster Setup auto-populated list -->
															<select id="clusterSetupOfActiveCandContentInput" class="selectpicker form-control" data-live-search="true" required>
															</select>
														</div>	
													</div>
													<div class="form-group row">
														<div class="col" id="contentSetupListActiveCandContentDiv">
															<!-- AJAX Content Setup auto-populated list -->
															<select id="contentSetupOfActiveCandContentInput" class="selectpicker form-control" data-live-search="true" required>
															</select>
														</div>				
														<button id="podsCreateActiveCAndContent" type="submit" class="btn pods-toggle-button-1">Submit</button>
													</div>			
												</form>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="line"></div>

						<!-- Client Profile Setup button and div  -->
						<div class="container-fluid">
							<p>
								<button id="clientSetupButton" class="btn pods-toggle-button-2 btn-lg btn-block" type="button" data-toggle="collapse" data-target="#clientSetupCollapse" aria-expanded="false" aria-controls="clientSetupCollapse"><b>Clients Setup</b></button>
							</p>
							<div id="clientSetupCollapse" class="collapse">

								<!-- 1 - Create Client Profile button and div  -->
								<div class="container-fluid">
									<p>
										<button id="createClientProfileButton" class="btn pods-toggle-button-3" type="button" data-toggle="collapse" data-target="#createClientProfileCollapse" aria-expanded="false" aria-controls="createClientProfileCollapse">Create Client Profiles</button>
									</p>
									<div id="createClientProfileCollapse" class="collapse">
										<!-- Create Client Profile form -->
										<div class="container-fluid">
											<p>
												<form action="/setup_post/" method="POST">
													{% csrf_token %}
													 <div class="form-group row">
														<div class="col">
															<input id="clientNameInput" class="form-control" type="text" placeholder="Client's Name" required>
														</div>
														<div class="col">
															<input id="clientTelInput" class="form-control" type="tel" placeholder="Client's Telephone" required>
														</div>
													</div>
													<div class="form-group row">
														<div class="col">
															<input id="clientContactPersonInput" class="form-control" type="tel" placeholder="Contact Person Telephone" required>
														</div>
														<div class="col">
															<input id="clientEmailInput" class="form-control" type="email" placeholder="Client's Email" required>
														</div>
													</div>
													<div class="form-group row">
														<div class="col">
															<input id="clientAddressInput" class="form-control" type="text" placeholder="Client's Address" required>
														</div>
														<button id="podsCreateClientProfile" type="submit" class="btn pods-toggle-button-1">Submit</button>
													</div>
												</form>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="line"></div>

						<!-- CLICK HERE >> To raise change/update/delete request  -->
						<div class="container-fluid">
							<p>
								<button id="changeRequestSetupButton" class="btn pods-toggle-button-2 btn-lg btn-block" type="button" data-toggle="collapse" data-target="#changeRequestSetupCollapse" aria-expanded="false" aria-controls="changeRequestSetupCollapse"><b>General Change Request</b></button>
							</p>
							<div id="changeRequestSetupCollapse" class="collapse">

								<!-- 1 - Create General Change Request -->
								<div class="container-fluid">
									<p>
										<button id="createChangeRequestButton" class="btn pods-toggle-button-3" type="button" data-toggle="collapse" data-target="#createChangeRequestCollapse" aria-expanded="false" aria-controls="createChangeRequestCollapse">Create Change Request <i><b>(for Update/Delete)</b></i></button>
									</p>
									<div id="createChangeRequestCollapse" class="collapse">
										<!-- Create Change Request form -->
										<div class="container-fluid">
											<p>
												<form action="/setup_post/" method="POST">
													{% csrf_token %}
													 <div class="form-group row">
														<div class="col">
															<input id="changeRequestSubjectInput" class="form-control" type="text" placeholder="Change Request Subject" required>
														</div>						
													</div>
													<div class="form-group row">
														<div class="col">
															<textarea id="changeRequestDetailInput" class = "form-control" rows = "3" placeholder = "Details of change request..." required></textarea>
														</div>
													</div>
													<div class="form-group row">
														<button id="podsCreateChangeRequest" type="submit" class="btn pods-toggle-button-1">Submit</button>
													</div>
												</form>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<!-- Management Tool div  -->
					<div class="collapse" id="monitoringToolCollapse">
						
						<!-- Get a Clusters details div  -->
						<div class="container-fluid">
							<p>
								<button id="clusterDetailsButton" class="btn pods-toggle-button-2 btn-lg btn-block" type="button" data-toggle="collapse" data-target="#searchClusterDetailsCollapse" aria-expanded="false" aria-controls="searchClusterDetailsCollapse"><b>Get a Cluster Details</b></button>
							</p>
							<div id="searchClusterDetailsCollapse" class="collapse">
								<!-- Search Clusters -->
								<div class="container-fluid">
										<p>
											<form>
												{% csrf_token %}
												<p>
												<div class="row">
													<div class="col">
														<select id="cityOfClusterDetailsInput" class="selectpicker form-control" data-live-search="true" required>
														</select>
													</div>
													<div class="col">
														<select id="areaOfClusterDetailsInput" class="selectpicker form-control" data-live-search="true" required>
														</select>
													</div>
												</div>
												</p>
												<div class="row">
													<div class="col">
														<select id="clusterSetupOfClusterDetailsInput" class="selectpicker form-control" data-live-search="true" required>
														</select>
													</div>
													<button id="podsSearchClusterDetails" type="submit" class="btn pods-toggle-button-1">Submit</button>
												</div>
											</form>
										</p>
										<div id="clusterDetailResultsDiv" style="display:none" class="container-fluid">
											<!-- Cluster Details -->
											<table class="table">
											  <thead>
												<tr>
												  <th scope="col">Active Status</th>
												  <th scope="col">Cluster Location</th>
												  <th scope="col">Cluster Exposure</th>
												  <th scope="col">Cluster Location Type</th>
												  <th scope="col">Last Modified By</th>
												</tr>
											  </thead>
											  <tbody id="clusterDetailsTable">
												
											  <tbody>
											 </table>
											
											<!-- Device Details -->
											<table class="table">
											  <thead>
												<tr>
												  <th scope="col">Device MAC Address</th>
												  <th scope="col">Device Status</th>
												  <th scope="col">Last Modified By</th>
												</tr>
											  </thead>
											  <tbody id="deviceDetailsTable">
												
											  <tbody>
											 </table>
											 
											<!-- Content Details -->
											<table class="table">
											  <thead>
												<tr>
												  <th scope="col">Content Type Name</th>
												  <th scope="col">Content Title</th>
												  <th scope="col">Content Data</th>
												  <th scope="col">Client's Name</th>
												  <th scope="col">Our Rep. Email</th>
												  <th scope="col">Start Date</th>
												  <th scope="col">End Date</th>
												  <th scope="col">Last Modified By</th></tr>
											  </thead>
											  <tbody id="contentDetailsTable">
											  <tbody>
											 </table>
											 
										</div>
								</div>
							</div>
						</div>
						<!-- -->						
					</div>

					<div class="line"></div>
				</div>
			</div>
        	
			<!-- ***** Status Modal ***** -->			
			<div id="statusModalContainer" class="container">				
				<!-- Trigger the modal with a button -->
				<button hidden id="statusModalButton" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#statusModal"></button>

				<!-- Modal -->
				<div class="modal fade" id="statusModal" >
					<div class="modal-dialog">
						
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <h4 class="modal-title">Status</h4>
						</div>
						<div class="modal-body">
							<p id="responseStatus"></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					  </div>
						  
					</div>
				</div>	
			</div>
		</div>
    </div>
    <!-- Extra block Script -->
    {% block script %}
	<!--================================================-->	
	<script src="/uadsshAFSVAasb/monitoringTool/js/3rdparty/ajaxCSRFTokenHandler.js"></script>
	
    <script>
		//document.writeln("<script type='text/javascript' src='/uadsshAFSVAasb/monitoringTool/js/pods-main.js'><'/script>");
	    document.writeln("<script type='text/javascript' src='/uadsshAFSVAasb/monitoringTool/js/pods-dashboard.js'><'/script>");
    </script>
	
    {% endblock %}

{% endblock %}