{% extends "includes/layout.html" %}
{% block title %}Pods Concept - Dashboard{% endblock %}
{% block content %}
    <main class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <!---<img id="icon1" src="/static/img/pods_icon_small.png">
                <img id="icon2" src="/static/img/pods_icon_small.png" class="media-object" width="80" height="80">
-->
                <h3>Mudashiru Raji</h3>
                <strong>MR</strong>

            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-home"></i>
                        Dashboard
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <!--
                        <li>
                            <a href="#">Who We Are</a>
                        </li>
                        <li>
                            <a href="#">What We Do</a>
                        </li>
                        <li>
                            <a href="#">Goals</a>
                        </li> -->
                    </ul>
                </li>
                <!--
                <li>
                    <a href="#aboutSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-briefcase"></i>
                        About
                    </a>
                    <ul class="collapse list-unstyled" id="aboutSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>-->
                <!--
                <li>
                    <a href="#">
                        <i class="fas fa-question"></i>
                        FAQ
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-paper-plane"></i>
                        Contact
                    </a>
                </li>-->
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                </li>
                <li>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Menu</span>
                    </button>
                    <span class="navbar-text"><b>Course work on:</b>
                        Real Time Development and Artificial Intelligence</span>

                </div>
            </nav>
            <section>
                {% if result %}
                    {% for key, value in result.items %}
                        <h2>{{ key }}</h2>
                        <p><b>{{ value }}</b></p>
                    {% endfor %}
                {% else %}
                    <p><b>No data</b></p>
                {% endif %}
                <p>...</p>
            <div class="line"></div>
            </section>

            <section>
            </section>
        </div>
    </main>
{% endblock %}
